.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 0;
    height:75px;
}

.nav-image {
    height: 75px;
    margin-top: 5px;
}

.nav-text {
    font-size: 15pt;
    margin-left: 4px;
}

.navbar {
    min-height:80px;
}

.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.nav-item,.nav-item a {
    font-size: 15pt;
}

h1 {
    color:#fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.round-block {
    background-color:#d0d0d6;
    border-radius: 5px;
    color:#6d6c61;
    padding: 6px;
    min-height: 250px;
    text-align: center;
}

.col-md-4 {
    margin-top: 20px;
}

body {
	background-color:#202f32;
    padding-top: 120px;
    
 
}

.headshot {
    width:200px;
    height:200px;
    border-radius:100px;
}

.register {
    display:none;
}

.profile {
    text-align: center;
    padding:30px;
}

.icon1 {
	color:#63b1c9;
}

.icon2 {
	color:#e3434e;
}

.icon3 {
	color:#e3b44e;
}

a.icon-twitter {
    color:#4099FF;   
}

.icon-linkedin {
    color:#0b62a6;
}

a.icon-blog {
    color:#63b1c9;   
}

a.icon-email {
    color:#e3434e;   
}

.centered {
	text-align:center;
	display:block;
}

footer {
    color:#fff;
}