<footer class="centered" id="contact">
  <h2>Contact</h2>
  <a href="mailto:alex@pixus.io" title="Email" class="icon-email">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x themed"></i>
      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
    </span></a>
  <a href="https://twitter.com/pixusdev" target="_blank" title="Twitter" class="icon-twitter">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x themed"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
        </a>
  <a href="http://blog.pixus.io" target="_blank" title="Blog" class="icon-blog">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x themed"></i>
      <i class="fa fa-bold fa-stack-1x fa-inverse"></i>
    </span></a>
  <p>© 2015 Alex Skorulis
</footer>